name: Java CI/CD con Maven y Docker

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: ${{ secrets.MONGO_TEST_USERNAME }}
          MONGO_INITDB_ROOT_PASSWORD: ${{ secrets.MONGO_TEST_PASSWORD }}
        options: >-
          --health-cmd "mongosh --eval 'db.adminCommand(\"ping\")'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Configurar JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Compilar y Ejecutar Tests
        env:
          MONGO_USERNAME: ${{ secrets.MONGO_TEST_USERNAME }}
          MONGO_PASSWORD: ${{ secrets.MONGO_TEST_PASSWORD }}
        run: |
          mvn -B clean package \
            -Dspring.profiles.active=test \
            -Dde.flapdoodle.mongodb.embedded.enabled=false \
            -Dspring.data.mongodb.host=localhost \
            -Dspring.data.mongodb.port=27017 \
            -Dspring.data.mongodb.username="${MONGO_USERNAME}" \
            -Dspring.data.mongodb.password="${MONGO_PASSWORD}" \
            -Dspring.data.mongodb.authentication-database=admin \
            -DargLine="-XX:+EnableDynamicAgentLoading -Xshare:off"
      

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}