name: Java CI/CD con Maven

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.adminCommand(\"ping\")'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Configurar JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          cache: maven

      - name: Compilar y Ejecutar Tests
        run: |
          mvn -B clean test \
          -Dspring.profiles.active=test \
          -Dde.flapdoodle.mongodb.embedded.enabled=false \
          -Dspring.data.mongodb.uri=mongodb://localhost:27017/url-shortener-test \
          -DargLine="-XX:+EnableDynamicAgentLoading -Xshare:off"